<!DOCTYPE html>
<html>
<head>
  {% block head %}
      {{ block("head", "header.twig") }}
  {% endblock %}
</head>

<body onResize=resize>

    {#{% include 'nav.twig' %}#}

    {% block content %}
        {{ block("content", "nav.twig") }}
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block scripts %}
        {{ block("scripts", "nav.twig") }}
    {% endblock %}

</body>
</html>
