<!DOCTYPE html>
<html>
<head>
  {% include asset('header.twig','twigcomp') %}
  
  {% block head %}{% endblock %}
</head>

<body onResize=resize()>

    {% include asset('nav.twig','twigcomp') %}

    {% include asset('categorybar.twig','twigcomp') %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

    {% block scripts %}
    <script>
        function resize() {
        }
    </script>
    {% endblock %}

</body>
</html>
