<!DOCTYPE html>
<html>
<head>
  {% include 'header.twig' %}

  {% block head %}{% endblock %}
</head>

<body onResize=resize()>

    {% include 'nav.twig' %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

    {% block scripts %}
    <script>
        function resize() {
        }
    </script>
    {% endblock %}

</body>
</html>
