{% extends 'layout.twig' %}

{# note input variable id for item ID (load by REST) #}

{% block head %}
  {{ parent() }}
  <title>Item Page</title>
{% endblock %}

{% block content %}
  {{ parent() }}
  <br>

  <div class="container">
	<div class="row">
	  <div class="col-md-4">
		<!-- IMAGE -->
		<img class="card-img-top" src="res/coal.jpg" alt="Card image cap" style="width:100%;">
	  </div>
	  <div class="col-md-5">
		<!-- ITEM INFORMATION -->
		<h4>Block Of Coal</h4>
		<p>Some lovely and tasty coal for all to enjoy ♥</p>
		<br>
		<p><strong>Expiry Date: </strong>21/03/3001</p>
		<p><strong>Amount: </strong>100</p>
		<p><strong>Weight: </strong>500g</p>
		<br>
		<button class="btn btn-primary">Request</button>
		<hr>
		<p><strong>Location: </strong>Lapland</p>
		<p><strong>Postage: </strong>No cost, I'll get one of my elves to hand deliver it ♥</p>
	  </div>
	  <div class="col-md-3">
		<div class="card" style="border: 1px solid #cccccc">
		  <div class="card-block">
			<h4 class="card-title">Donator Information</h4>
			<p class="card-text"><strong>Name: </strong>Father Christmas</p>
			<p class="card-text">
			  <strong>Rating: </strong><span style="color: gold; font-size:1.5em;">&#8902;&#8902;&#8902;&#8902;&#8902;</span></p>
			<hr>
			<a class="card-text" href="#">See other items</a>
			<hr>
			<button class="btn btn-secondary">Message</button>
		  </div>
		</div>
		<div id=map style="border: 1px solid #cccccc; height: 15rem; margin-top: -1px;"></div>
	  </div>
	</div>
  </div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <!-- CORRECT SIZES OF ELEMENTS -->
  <script>
	  $(document).ready(function () {
		  $('#items')
			  .height($(window).height() - $('#search-navbar').height() - $('#categories-navbar').height() - $('#options').height() - 80);
		  $('#map')
			  .height($(window).height() - $('#search-navbar').height() - $('#categories-navbar').height() - $('#options').height() - 80);
		  $('#main-search-input').width($('#search-navbar-container').width() - $('a.navbar-brand').outerWidth() - $('#categories-dropdown')
				  .width() - $('#main-search-button').width() - $('#user-popover').width() - 150);
		  $('#main-search-input-mobile').width($('#search-navbar-container-mobile').width() - $('#main-search-button-mobile').width() - 68);
	  });
	  resize = function () {
		  $('#items')
			  .height($(window).height() - $('#search-navbar').height() - $('#categories-navbar').height() - $('#options').height() - 80);
		  $('#map')
			  .height($(window).height() - $('#search-navbar').height() - $('#categories-navbar').height() - $('#options').height() - 80);
		  $('#main-search-input').width($('#search-navbar-container').width() - $('a.navbar-brand').outerWidth() - $('#categories-dropdown')
				  .width() - $('#main-search-button').width() - $('#user-popover').width() - 150);
		  $('#main-search-input-mobile').width($('#search-navbar-container-mobile').width() - $('#main-search-button-mobile').width() - 68);
	  };
  </script>

  <script>
	  $(document).ready(function () {
		  $('#user-popover').popover({
			  trigger: 'focus',
		  });
	  });
  </script>

  <script>
	  var map = null;

	  function initMapElements() {
		  // 67.9222° N, 26.5046° E
		  var lapland = {lat: 67.9222, lng: 26.5046};
		  map = new google.maps.Map(document.getElementById('map'), {
			  zoom            : 10,
			  center          : lapland,
			  disableDefaultUI: true,
		  });

		  var marker = new google.maps.Marker({
			  position: lapland,
			  map     : map,
		  });

	  }
  </script>

  <script async defer
		  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxJox1KlfQI8Tzo1I4wAMgSUELoga4DX0&libraries=places&callback=initMapElements">
  </script>
{% endblock %}
