{% extends 'layout.twig' %}

{% block head %}
  {{ parent() }}
  <title>Messenger</title>
  <script src="{{ asset('socket.io.min.js','javascript') }}"></script>

{% endblock %}

{% block content %}
  {{ parent() }}
  <!-- MAIN SECTION -->
  <div class="container-fluid main">
	<div class="row row-offcanvas row-offcanvas-left">
	  <div class="col-xs-6 col-sm-3 no-padding sidebar-offcanvas" id="sidebar" role="navigation">
		<!-- Requests Section -->
		<nav class="navbar square-border" id="requests-nav" style="background-color: white; border: 1px solid #dce0e0; border-top: 0; height: 3rem; padding: 0;">
		  <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%; height: 100%;">
			<button class="btn btn-secondary square-border" style="width: 50%; height: 100%; border: 0; border-right: 1px solid #ccc;">Your Requests</button>
			<button class="btn btn-secondary square-border" style="width: 50%; height: 100%; border: 0; border-left: 1px solid #ccc;">Their Requests</button>
		  </div>
		</nav>
		<div class="container-fluid" id="requests" style="overflow: scroll; overflow-x:hidden; border-right: 1px solid #dce0e0; padding-right: 0;">
		  <!-- Requests -->
		</div>
	  </div>
	  <div class="col-xs-12 col-sm-9 no-padding">
		<!-- Messaging Section -->
		<nav class="navbar square-border" style="background-color: white; border: 1px solid #dce0e0; border-left: 0; border-top: 0; height: 3rem;" id="messages-nav">
		  <button type="button" class="btn btn-secondary hidden-md-up" data-toggle="offcanvas" data-target=".sidebar-nav">Test</button>
		  <ul class="nav navbar-nav float-xs-right">
			<li class="nav-item">
			  <a class="nav-link" href="#">Reject</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Accept</a>
			</li>
		  </ul>
		</nav>
		<div class="container-fluid" style="overflow: scroll; overflow-x:hidden;" id="messages">
		  <!-- Message Container -->
		</div>
		<div class="container-fluid" id="input">
		  <!-- Input Container -->
		  <div class="row" style="width: 100%;">
			<div class="input-group">
			  <input type="text" class="form-control square-border" placeholder="Enter a message here" id="messageInput">
			  <span class="input-group-btn">
          <button class="btn btn-secondary square-border" type="button" id="sendButton">Send</button>
        </span>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>

{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script>
	  // From Stack Overflow
	  $(document).ready(function () {
		  $('[data-toggle=offcanvas]').click(function () {
			  $('.row-offcanvas').toggleClass('active2');
		  });
	  });
  </script>

  <!-- MESSAGING -->
  <script>
	  var userID;
	  var currentReceiverID = 34; // Temporarily
    var currentRequestID = 1; // Temporarily

	  $(function () {
		  var socket = io("https://gpmainmessaging.herokuapp.com/");
		  socket.on('connect', function (data) {
			  // Get proof of who are from App.php
			  $.getJSON('/messenger/userid', function (data) {
				  userID = data['userID'];
				  var validation = 0;
				  socket.emit('validation', {'validation': validation, 'userid': userID});
			  });

		  });
		  socket.on("message", function (data) {
			  var fromid = data['fromid'];
        var toid = data['toid'];
			  var message = data['message'];
        var date = data['date']
        if (fromid == currentReceiverID || toid == currentReceiverID) {
          console.log("is from current receiver");
          // Add to page right away and bring contact to top
          if (fromid == userID) {
            console.log("from myself");
            // Send by user
            $("#messages").append(
              '<div class="row" style="padding: 0.5rem; float: right; width: 100%;">' +
        			'<div class="card" style="max-width: 60%; border-radius: 1rem!important; background-color: #2979FF; display: inline-block; float: right;" title="Sent at ' + date + '">' +
        			  '<div class="card-block" style="padding: 0.5rem;">' +
        				'<p class="card-text" style="color: white;">' + message +'</p>' +
        			  '</div>' +
        			'</div>' +
        		  '</div>'
            );
          } else {
            console.log("from other")
            // Received by user
            $("#messages").append(
        		  '<div class="row" style="padding: 0.5rem; width: 100%;">' +
        			'<img class="circle" src="../images/food/none.svg" alt="Card image cap" style="width: 3rem; padding: 0.5rem;">' +
        			'<div class="card" style="max-width: 60%; border-radius: 1rem!important; background-color: #fafafa; display: inline-block;" title="Sent at ' + date + '">' +
        			  '<div class="card-block" style="padding: 0.5rem;">' +
        				'<p class="card-text" style="color: black;">' + message + '</p>' +
        			  '</div>' +
        			'</div>' +
        		  '</div>'
            );
          }
        } else {
          // Make contact bold and bring to top
        }

		  });
	  });

	  $("#sendButton").click(function () {
		  //Send message
		  $.post('/messenger/message', {'message': $("#messageInput").val(), 'fromid': userID, 'toid': currentReceiverID, 'requestid': currentRequestID}, function (data) {
			  if (!data['success']) {
				  // Failed to send message
				  console.log("Failed to send message");
			  } else {
          // Clear input
          $("#messageInput").val("");
        }
		  });
	  });

    $("body").on("click", ".contact", function() {
      // Change colour and fill messages
      currentRequestID = $(this).attr("requestid");
      currentReceiverID = $(this).attr("receiverid");
      $(this).removeClass("bold");
      $(".contact").css("background-color", "white");
      $(this).css("background-color", "#fafafa");
      fillMessages($(this).attr("requestid"));
    });

    $(document).ready(function() {
      fillSentRequests();
    });
  </script>

  <!-- CORRECT SIZES OF ELEMENTS -->
  <script>
	  $(document).ready(function () {
		  $('#main-search-input').width($('#search-navbar-container').width() - $('a.navbar-brand').outerWidth() - $('#categories-dropdown')
				  .outerWidth() - $('#register-button').outerWidth() - $('#login-button').outerWidth() - 150);
		  $('#search-navbar-group')
			  .width($('#search-navbar-container').width() - $('a.navbar-brand').outerWidth() - $('#categories-dropdown')
					  .outerWidth() - $('#register-button').outerWidth() - $('#login-button').outerWidth() - 150);
		  $('#requests').height($(window).height() - $('#search-navbar').outerHeight() - $('#requests-nav').outerHeight());
		  $('#messages').height($(window).height() - $('#search-navbar').outerHeight() - $('#messages-nav').outerHeight() - $('#input')
				  .outerHeight());
	  });

	  resize = function () {
		  $('#main-search-input').width($('#search-navbar-container').width() - $('a.navbar-brand').outerWidth() - $('#categories-dropdown')
				  .outerWidth() - $('#register-button').outerWidth() - $('#login-button').outerWidth() - 150);
		  $('#search-navbar-group')
			  .width($('#search-navbar-container').width() - $('a.navbar-brand').outerWidth() - $('#categories-dropdown')
					  .outerWidth() - $('#register-button').outerWidth() - $('#login-button').outerWidth() - 150);
		  $('#requests').height($(window).height() - $('#search-navbar').outerHeight() - $('#requests-nav').outerHeight());
		  $('#messages').height($(window).height() - $('#search-navbar').outerHeight() - $('#messages-nav').outerHeight() - $('#input')
				  .outerHeight());
	  };
  </script>

  <!-- Move messaging scripts into own file> -->
  <script>
	  function fillSentRequests() {
		  $.getJSON('/request/sent', function (data) {
			  // data is all that users requests
			  $.each(data, function (index, value) {
				  // value is requestid, foodid, accepted
				  $("#requests").append(
					  '<div class="card square-border contact" style="border: 0;" receiverid="' + value['userid'] + '" requestid="' + value['requestid'] + '">' +
					       '<div class="row">' +
					            '<div class="col-xs-2" style="padding: 0;">' +
					                 '<img class="card-img-top circle" src="../../images/food/none.svg" alt="Card image cap" style="width:100%; padding: 0.5rem;">' +
					            '</div>' +
					            '<div class="col-xs-10" style="padding: 0;">' +
					                 '<div class="card-block" style="padding: 0.5rem;">' +
					                      '<p class="card-text">USERNAME</p>' +
					                      '<p class="card-subtitle text-muted" style="margin-bottom: -0.25rem;">' + value['foodid'] + '</p>' +
					                      '<small class="text-muted">Last Message</small>' +
					                 '</div>' +
					            '</div>' +
					       '</div>' +
					  '</div>'
				  );
			  });
		  });
	  }

	  function fillMessages(requestID) {
      $("#messages").empty();
		  $.getJSON('/request/messages/1', function (messages) {
			  // messages is message, time, sender, receiver
        $.each(messages, function(index, value) {
          // value = ["message": message, "time": time, "sender": sender, "receiver": receiver];
          if (value["sender"] == parseInt(userID)) {
            // Send by user
            $("#messages").append(
              '<div class="row" style="padding: 0.5rem; float: right; width: 100%;">' +
        			'<div class="card" style="max-width: 60%; border-radius: 1rem!important; background-color: #2979FF; display: inline-block; float: right;" title="Sent at ' + value["time"] + '">' +
        			  '<div class="card-block" style="padding: 0.5rem;">' +
        				'<p class="card-text" style="color: white;">' + value["message"] +'</p>' +
        			  '</div>' +
        			'</div>' +
        		  '</div>'
            );
          } else if (value["receiver"] == parseInt(userID)) {
            // Received by user
            $("#messages").append(
        		  '<div class="row" style="padding: 0.5rem; width: 100%;">' +
        			'<img class="circle" src="../images/food/none.svg" alt="Card image cap" style="width: 3rem; padding: 0.5rem;">' +
        			'<div class="card" style="max-width: 60%; border-radius: 1rem!important; background-color: #fafafa; display: inline-block;" title="Sent at ' + value["time"] + '">' +
        			  '<div class="card-block" style="padding: 0.5rem;">' +
        				'<p class="card-text" style="color: black;">' + value["message"] + '</p>' +
        			  '</div>' +
        			'</div>' +
        		  '</div>'
            );
          } else {
            console.log("ERROR: incorrect messages received.")
          }
        });
		  });
	  }
  </script>

{% endblock %}
