{% extends 'layout.twig' %}

{% block head %}
	{{ parent() }}
	<title>Messenger</title>
	<script src="{{ asset('socket.io.min.js','javascript') }}"></script>

{% endblock %}

{% block content %}
	{{ parent() }}
	<!-- MAIN SECTION -->
	<div class="container-fluid h-100 main">
		<div class="row row-offcanvas row-offcanvas-left h-100">
			<div class="col-6 col-sm-3 p-0 d-flex flex-column align-items-stretch sidebar-offcanvas" id="sidebar" role="navigation">
				<!-- Requests Section -->
					<nav class="navbar navbar-toggleable-md square-border border-top-0 p-0" id="requests-nav" style="background-color: white; border: 1px solid #dce0e0; height: 3rem;">
						<div class="d-flex d-flex-nowrap h-100 w-100" role="group" aria-label="Basic example">
							<button id="sentRequestsBtn" class="btn flex-auto btn-secondary square-border" style="border: 0; border-right: 1px solid #ccc; background-color: #e6e6e6">Sent</button>
							<button id="receivedRequestsBtn" class="btn flex-auto btn-secondary square-border" style="border:0">Received</button>
						</div>
					</nav>
				<div class="d-flex flex-column flex-auto" id="requests" style="overflow: scroll; overflow-x:hidden; border-right: 1px solid #dce0e0; padding-right: 0;">
          <!-- Requests -->
          <div class="" id="sentRequests"></div>
          <div class="hidden-xs-up" id="receivedRequests"></div>
				</div>
			</div>
			<div class="d-flex flex-column align-items-stretch justify-content-center col-12 col-sm-9 p-0">
				<!-- Messaging Section -->
				<nav class="navbar navbar-light navbar-toggleable-xl justify-content-end" style="background-color: white; border: 1px solid #dce0e0; border-left: 0; border-top: 0; height: 3rem;" id="messages-nav">
					<button type="button" class="btn btn-secondary hidden-md-up square-border d-flex mr-auto" data-toggle="offcanvas" data-target=".sidebar-nav">Contacts</button>
					<h5 class="justify-content-center my-1 mx-auto" id="contactName"></h5>
					<ul class="navbar-nav my-1 justify-content-end">
						<li class="nav-item hidden-sm-down">
							<p href="#" style="color: gold;" class="my-2">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</p>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Reject</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Accept</a>
						</li>
					</ul>
				</nav>
				<div class="container-fluid flex-auto mx-0" style="overflow: scroll; overflow-x:hidden" id="messages">
					<!-- Message Container -->
				</div>
					<!-- Input Container -->
					<div class="row no-gutters mt-auto w-100" id="search">
						<div class="input-group">
							<input type="text" class="form-control square-border" placeholder="Enter a message here" id="messageInput">
							<span class="input-group-btn">
          		    <button class="btn btn-secondary square-border" type="button" id="sendButton">Send</button>
			        </span>
						</div>
					</div>
				</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script>
		// From Stack Overflow
		$(document).ready(function () {
			$('[data-toggle=offcanvas]').click(function () {
				$('.row-offcanvas').toggleClass('active2');
			});
		});
	</script>

	<!-- MESSAGING -->
	<script>
		var userID;
		var currentReceiverID;
		var currentRequestID;

		$(function () {
			var socket = io("https://gpmainmessaging.herokuapp.com/");
			socket.on('connect', function (data) {
				// Get proof of who are from App.php
				$.getJSON('/messenger/userid', function (data) {
					userID = data['userID'];
					var validation = 0;
					socket.emit('validation', {'validation': validation, 'userid': userID});
				});

			});
			socket.on("message", function (data) {
				var fromid = data['fromid'];
				var toid = data['toid'];
				var message = data['message'];
				var date = data['date'];
				var requestID = data['requestid'];
				if ((fromid == currentReceiverID || toid == currentReceiverID) && currentRequestID == requestID) {
					// Add to page right away and bring contact to top
					if (fromid == userID) {
						// Send by user
						$("#messages").append(
							'<div class="row" style="padding: 0.5rem; width: 100%; justify-content: flex-end">' +
							'<div class="card message" style="background-color: #2979ff; float: right;" title="Sent at ' + date + '">' +
							'<div class="card-block" style="padding: 0.5rem;">' +
							'<p class="card-text" style="color: white;">' + message + '</p>' +
							'</div>' +
							'</div>' +
							'</div>'
						);
					} else {
						// Received by user
						$("#messages").append(
							'<div class="row" style="padding: 0.5rem; width: 100%;">' +
							'<img class="circle" src="../images/food/none.png" alt="Card image cap" style="width: 3rem; height: 3rem; padding: 0.5rem;">' +
							'<div class="card message" style="background-color: #fafafa;" title="Sent at ' + date + '">' +
							'<div class="card-block" style="padding: 0.5rem;">' +
							'<p class="card-text" style="color: black;">' + message + '</p>' +
							'</div>' +
							'</div>' +
							'</div>'
						);
					}
				} else {
					// Make contact bold and bring to top
					var card = $('[requestid="' + requestID + '"]');
					if(card) {
						// exists already so move to top						card.addClass('bold');
						if(card.attr('request') == "sent") {
							// Sent request
							$("#sentRequests").prepend(card);
						} else {
							// Received request
							$("#receivedRequests").prepend(card);
						}
					} else {
						// Just refresh for now
						fillSentRequests();
						fillReceivedRequests();
					}
				}
			});
		});

		$("#sendButton").click(function () {
			//Send message
			$.post('/messenger/message', {
				'message'  : $("#messageInput").val(),
				'fromid'   : userID,
				'toid'     : currentReceiverID,
				'requestid': currentRequestID,
			}, function (data) {
				if (!data['success']) {
					// Failed to send message
					console.log("Failed to send message");
				} else {
					// Clear input
					$("#messageInput").val("");
				}
			});
		});

		$("body").on("click", ".contact", function () {
			// Change colour and fill messages
			currentRequestID = $(this).attr("requestid");
			currentReceiverID = $(this).attr("receiverid");
			$(this).removeClass("bold");
			$(".contact").css("background-color", "white");
			$(this).css("background-color", "#fafafa");
			$("#contactName").text($(this).attr("username"));
			fillMessages($(this).attr("requestid"));
		});

		$(document).ready(function () {
			fillSentRequests();
			fillReceivedRequests();
		});
	</script>

	<!-- REQUEST TAB CHANGING -->
	<script>
		$("#sentRequestsBtn").click(function () {
			// Hide Received Requests
			$("#sentRequests").removeClass("hidden-xs-up");
			$("#receivedRequests").addClass("hidden-xs-up");
			$("#sentRequestsBtn").css("background-color", "#e6e6e6");
			$("#receivedRequestsBtn").css("background-color", "");
		});

		$("#receivedRequestsBtn").click(function () {
			// Hide Sent Requests
			$("#receivedRequests").removeClass("hidden-xs-up");
			$("#sentRequests").addClass("hidden-xs-up");
			$("#receivedRequestsBtn").css("background-color", "#e6e6e6");
			$("#sentRequestsBtn").css("background-color", "");
		});
	</script>

	<!-- Move messaging scripts into own file> -->
	<script>

		function fillSentRequests() {
			$.getJSON('/request/sent', function (data) {
				// data is all that users requests
				$.each(data, function (index, value) {
					// value is requestid, foodid, accepted
					$.getJSON('/messenger/userfood/' + value['userid'] + '/' + value['foodid'], function(array) {
						$("#sentRequests").append(
							'<div class="card square-border contact" style="border: 0;" receiverid="' + value['userid'] + '" requestid="' + value['requestid'] + '" username="' + array['username'] + '" request="sent">' +
							'<div class="row">' +
							'<div class="col-sm-5 col-md-4 col-lg-3 col-xl-2 col-4" style="padding: 0;">' +
							'<img class="card-img-top circle" src="../../images/people/' + array['picture'] + '" alt="Card image cap" style="width:100%; padding: 0.5rem;">' +
							'</div>' +
							'<div class="col-sm-7 col-md-8 col-lg-9 col-xl-10 col-8" style="padding: 0;">' +
							'<div class="card-block" style="padding: 0.5rem;">' +
							'<small class="text-muted float-right" style="margin-right:  1rem;">' + array['time'] + '</small>' +
							'<p class="card-text">' + array['username'] + '</p>' +
							'<p class="card-subtitle text-muted" style="margin-bottom: -0.25rem;">' + array['name'] + '</p>' +
							'<small class="text-muted">' + array['message'] + '</small>' +
							'</div>' +
							'</div>' +
							'</div>' +
							'</div>'
						);
					})
				});
			});
		}

		function fillReceivedRequests() {
			$.getJSON('/request/received', function (data) {
				// data is all that users requests
				$.each(data, function (index, value) {
					// value is requestid, foodid, accepted
					$.getJSON('/messenger/userfood/' + value['requester'] + '/' + value['foodid'], function(array) {
						$("#receivedRequests").append(
							'<div class="card square-border contact" style="border: 0;" receiverid="' + value['requester'] + '" requestid="' + value['requestid'] + '" username="' + array['username'] + '" request="received">' +
							'<div class="row">' +
							'<div class="col-sm-5 col-md-4 col-lg-3 col-xl-2 col-4" style="padding: 0;">' +
							'<img class="card-img-top circle" src="../../images/people/' + array['picture'] + '" alt="Card image cap" style="width:100%; padding: 0.5rem;">' +
							'</div>' +
							'<div class="col-sm-7 col-md-8 col-lg-9 col-xl-10 col-8" style="padding: 0;">' +
							'<div class="card-block" style="padding: 0.5rem;">' +
							'<small class="text-muted float-right" style="margin-right:  1rem;">' + array['MAX(`messagetable`.`time`)'] + '</small>' +
							'<p class="card-text">' + array['username'] + '</p>' +
							'<p class="card-subtitle text-muted" style="margin-bottom: -0.25rem;">' + array['name'] + '</p>' +
							'<small class="text-muted">' + array['message'] + '</small>' +
							'</div>' +
							'</div>' +
							'</div>' +
							'</div>'
						);
					});
				});
			});
		}

		function fillMessages(requestID) {
			$("#messages").empty();
			$.getJSON('/request/messages/' + requestID, function (messages) {
				// messages is message, time, sender, receiver
				$.each(messages, function (index, value) {
					// value = ["message": message, "time": time, "sender": sender, "receiver": receiver];
					if (value["sender"] == parseInt(userID)) {
						// Send by user
						$("#messages").append(
							'<div class="row" style="padding: 0.5rem; width: 100%; justify-content: flex-end">' +
							'<div class="card message" style="background-color: #2979ff; float: right;" title="Sent at ' + value["time"] + '">' +
							'<div class="card-block" style="padding: 0.5rem;">' +
							'<p class="card-text" style="color: white;">' + value["message"] + '</p>' +
							'</div>' +
							'</div>' +
							'</div>'
						);
					} else if (value["receiver"] == parseInt(userID)) {
						// Received by user
						$("#messages").append(
							'<div class="row" style="padding: 0.5rem; width: 100%;">' +
							'<img class="circle" src="../images/food/none.png" alt="Card image cap" style="width: 3rem; height: 3rem; padding: 0.5rem;">' +
							'<div class="card message" style="background-color: #fafafa;" title="Sent at ' + value["time"] + '">' +
							'<div class="card-block" style="padding: 0.5rem;">' +
							'<p class="card-text" style="color: black;">' + value["message"] + '</p>' +
							'</div>' +
							'</div>' +
							'</div>'
						);
					} else {
						console.log("ERROR: incorrect messages received.");
					}
				});
			});
		}
	</script>

{% endblock %}
