{% extends 'layout.twig' %}

{% block head %}
  {{ parent() }}
  <title>User Profile</title>
{% endblock %}

{% block content %}
  {{ parent() }}
  Test page
{% endblock %}

{% block scripts %}
  {{ parent() }}

{% endblock %}
