/* MOBILE */
@media screen and (min-width: 544px) {
  .card-columns {
    column-count: 1;
  }
}

/* TABLETS */
@media screen and (min-width: 768px) {
  .card-columns {
    column-count: 1;
  }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
  .card-columns {
    column-count: 2;
  }
}

.card {
  border-radius: 0 !important;
  margin-bottom: 0;
  border: 0;
}

.square-border {
  border-radius: 0;
  border: 1px solid #cccccc;
}

.card-group {
  margin-top: -1px;
}

.card-text {
  margin-bottom: 2px;
  font-size: 1rem;
}

.card-columns {
  column-gap: 0;
}

.col-md-6 {
  padding: 0;
}

i.fa-user-circle {
  position: relative;
  font-size: 2em;
  color: grey;
  cursor: pointer;
}

span.fa-circle {
  position: absolute;
  font-size: 0.6em;
  top: -4px;
  color: #F44336;
  right: -4px;
}

.notif-num {
  position: absolute;
  font-size: 0.3em;
  top: 2px;
  color: #fff;
  right: 3px;
}

#fake-button:hover, #fake-button:focus {
  background-color: white;
  border-color: #cccccc;
  cursor: default;
}

*:focus {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
