<!DOCTYPE html>
<html>
<head>
  {% include 'header.twig' %}
</head>

{% if bodytags is defined %}
<body {{ bodytags }}>
{% else %}
<body>
{% endif %}

    {% include 'nav.twig' %}

    {% include 'categorybar.twig' %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>
