<nav class="navbar navbar-light bg-faded navbar-static-top" id="search-navbar">
  <div class="container">
    <a class="navbar-brand" href="#">FoodShare</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" style="width: 40rem;">
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle index" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </button>
          <div class="dropdown-menu" id="topic-dropdown" aria-labelledby="dropdownMenu2">
            <a class="dropdown-item" href="#">Drinks</a>
            <a class="dropdown-item" href="#">Bakery</a>
            <a class="dropdown-item" href="#">Cans & Jars</a>
            <a class="dropdown-item" href="#">Dairy</a>
            <a class="dropdown-item" href="#">Baking</a>
            <a class="dropdown-item" href="#">Breakfast</a>
            <a class="dropdown-item" href="#">Frozen</a>
            <a class="dropdown-item" href="#">Meat</a>
            <a class="dropdown-item" href="#">Fruit & Veg</a>
            <a class="dropdown-item" href="#">Kitchen</a>
            <a class="dropdown-item" href="#">Personal</a>
            <a class="dropdown-item" href="#">Other</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <button class="btn" type="submit">Search</button>
      </li>
    </ul>

    <ul class="nav navbar-nav float-xs-right">
      <li>
        <button class="btn btn-primary" type="button">Account</button>
      </li>
    </ul>
  </div>
</nav>