{% extends "layout.twig" %}

{% block head %}
<title>Barcode Scanner</title>
{% endblock %}

{% block content %}
	<h1>Barcode Scanner</h1>

	<br>

	<input type="file" accept="image/*" capture="camera"/>

	<p id="code">Ready For Scan</p>
	<p id="name"></p>
	<p id="description"></p>
	<p id="category"></p>
	<p id="weight"></p>
	<img id="image" src=""></img>
{% endblock %}

{% block scripts %}
	<script src="../javascript/quaggaJS-master/dist/quagga.js" type="text/javascript"></script>
	<script src="../javascript/barcode.js" type="text/javascript"></script>
	<script src="../javascript/scanner.js" type="text/javascript"></script>
{% endblock %}
