{% extends "components" %}

{% block head %}
    <title>Admin Page</title>
{% endblock %}

{% block content %}
    <h1> Welcome to the admin page!</h1>
{% endblock %}

{% block scripts %}

{% endblock %}
