{% extends 'layout.twig' %}

{% block head %}
<title>Login</title>
{% endblock %}

{%  block content %}
<div class="container">
	<div class="row">
		<div class="Absolute-Center is-Responsive">
			<div class="col-sm-12 col-md-10 col-md-offset-1" style="background-color: white; padding: 2rem;">
				<form action="{{ path('account_login_check') }}" id="loginForm" method="post">
                    <h3 class="panel-title">Login</h3>
                    <div class="form-group input-group">
                        <span class="input-group-addon panel-input-symbol"><i class="fa fa-fw fa-user" aria-hidden="true"></i></span>
                        <input type="text" name="_username" id="username" tabindex="1" class="form-control panel-input" placeholder="Username" value="">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon panel-input-symbol"><i class="fa fa-fw fa-lock" aria-hidden="true"></i></span>
                        <input type="password" name="_password" id="password" tabindex="2" class="form-control panel-input" placeholder="Password">
                    </div>
                    <div class="col-xs-6 form-group">
                        <label class="custom-control custom-checkbox" style="margin-top: 0.8rem;">
                            <input type="checkbox" class="custom-control-input" name="_remember_me">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Remember Me</span>
                        </label>
                    </div>
                    <div class="col-xs-6 form-group">
                        <button type="submit" value="login" name="login" id="login-submit" tabindex="4" class="form-control btn btn-login hidden-xs-up">Login</button>
                    </div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<!-- CORRECT SIZES OF ELEMENTS -->
<script>
    $(document).ready(function() {
        $('#items').height($(window).height() - $('#search-navbar').height() - $('#categories-navbar').height() - $('#options').height() - 80);
        $('#map').height($(window).height() - $('#search-navbar').height() - $('#categories-navbar').height() - $('#options').height() - 80);
    });
    function resize() {
        $('#items').height($(window).height() - $('#search-navbar').height() - $('#categories-navbar').height() - $('#options').height() - 80);
        $('#map').height($(window).height() - $('#search-navbar').height() - $('#categories-navbar').height() - $('#options').height() - 80);
    }
</script>
{% endblock %}
